{% extends 'myauth/base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class='container'>
    <form class='form' method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} {% if error %}
            <span class='error'>{{ error }}</span>
        {% endif %}
        <input class='input' type="text" name='username' required>
        <input class='input' type="password" name='password' required> {% endcomment %}
        <button class='btn' type='submit'>Login</button>
    </form>
</div>

{% endblock body %}