{% extends 'shopapp/base.html' %}

{% block title %}
    Articles
{% endblock title %}

{% block body %}
    <h1>Articles:</h1>
    <div>
        <ul>
            {% for article in articles %}
                <li>
                    <p>
                        <a href="{% url 'blogapp:article' pk=article.pk %}">
                            {{ article.title }}
                        </a>
                    </p>
                    <p>
                        {{ article.pub_date }}
                    </p>
                    <p>
                        <b>{{ article.author.name }}</b>
                    </p>
                    <p>
                        <b>{{ article.category.name }}</b>
                    </p>
                    <p>
                        {% for tag in article.tags.all %}
                            <a href="#">#{{ tag.name }}, </a>
                        {% endfor %}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}

